main {
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test {
    background-color: bisque;
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 210px;
    height: 210px;
}

.card .percent {
    position: relative;
    width: 100%;
    height: 100%;
}

.card svg {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.card svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #f0f0f0;
    stroke-width: 10;
    stroke-linecap: round;
    transition: stroke-dashoffset 1s ease-in-out;
}

.card svg circle:last-of-type {
    stroke-dasharray: 625px;
    stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
    stroke: var(--stroke-color, #3498db);
    animation: draw 2s ease-in-out;
}

@keyframes draw {
    from {
        stroke-dashoffset: 625px;
    }
    to {
        stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
    }
}

.card .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .number h3 {
    font-weight: 200;
    font-size: 3.5rem;
}

.card .number h3 span {
    font-size: 2rem;
}

@media only screen and (max-width: 393px) {
    .card {
        width: 80px;
        height: 80px;
    }

    .card svg circle {
        stroke-width: 5;
    }

    .card svg circle:last-of-type {
        stroke-dasharray: 218.75px;
        stroke-dashoffset: calc(218.75px - (218.75px * var(--percent)) / 100);
    }

    @keyframes draw {
        from {
            stroke-dashoffset: 218.75px;
        }

        to {
            stroke-dashoffset: calc(218.75px - (218.75px * var(--percent)) / 100);
        }
    }

    .card .number h3 {
        font-size: 1.5rem;
    }

    .card .number h3 span {
        font-size: 1rem;
    }
}