*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    list-style: none;
}

/* declaring root variable */
:root {
    /* Background Color */
    --bg-base: #01001f;
    /* --bg-base: #333945; */

    /* Text Color */
    --primary-text: #ffffff;
}

body,
html {
    color: var(--primary-text);
    font-size: 10px;
    font-weight: 400;
    scroll-behavior: smooth;
    background-color: var(--bg-base);
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
}