.main{
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
}
.heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.8rem;
    padding: 1.5rem;
    font-weight: bolder;
}
#selectOption{
    height: 30px; 
    font-size: medium;
}
.attendance-card-container{
    border: .2rem #ffffff;
    border-radius: 1.5rem;
    border-style: dashed;
    padding: 1.5rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.attendance-card{
    background-color: #ffffff;
    width: 100%;
    height: max-content;
    /* height: 30%; */
    border-radius: .8rem;
    display: flex;
    flex-direction: row;
    padding: .5rem;
    color: black;
}
.left-container{
    width: 70%;
    height: max-content;
    /* height: 100%; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.attendance-subject-heading-conatiner{
    width: 100%;
    height: max-content;
    padding-bottom: 1rem;
    /* background-color: rgb(255, 145, 0); */
    display: flex;
    flex-direction: column;
}
.subject-heading{
    font-size: 7.2rem;
    font-weight: 600;
}
.subject-code{
    font-size: 5.6rem;
}
.attendance-subject-details{
    width: 100%;
    height: max-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* background-color: rgb(0, 255, 72); */
    gap: .75rem;
    display: flex;
    flex-direction: column;
    font-size: 4.8rem;
}
.right-container{
    width: 30%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-progressbar-container{
    height: max-content;
    width: 100%;
    /* background-color: #990000; */
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bottom-attendance-mark-button-container{
    height: max-content;
    width: 75%;
    /* background-color: rgb(134, 167, 0); */
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 60
}
.icon-size {
    font-size: 6.4rem;
}
.present-button{
    cursor: pointer;
    color: #2ecc71;
}
.absent-button{
    cursor: pointer;
    color: #e74c3c;
}
.undo-button{
    cursor: pointer;
    color: #005454;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-spinner {
    border: 1rem solid rgba(0, 0, 0, 0.1);
    border-top: 1rem solid #3498db;
    /* blue color */
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}
.undo-message-screen, .login-message-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.message-box {
    background-color: #fff;
    border: 1px solid #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
}

.message-box p, input, label {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 600;
    color: #000000;

}

.message-box button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;
}

.message-box button.cancel {
    background-color: #f44336;
}

.message-box button:hover {
    opacity: 0.8;
}

.error-message{
    color: red;
}


/* Media Queries for Responsiveness */

/* Extra Small Devices, Phones */
@media only screen and (max-width: 393px){
    /* Styles for devices with a viewport size of 393 x 852 pixels and pixel ratio 3 go here */
    .main {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    .heading {
        font-size: 2.8rem;
        padding: 1rem;
        padding-top: .5rem;
    }
    .attendance-card-container {
        padding: 1rem;
        gap: 1rem;
    }

    .attendance-card {
        border-radius: .8rem;
        padding: .5rem;
    }

    .left-container {
        width: 60%;
    }
    .attendance-subject-heading-conatiner {
        width: 100%;
        height: max-content;
        padding-bottom: 1rem;
    }
    .subject-heading {
        font-size: 2.2rem;
        font-weight: 600;
    }
    .subject-code {
        font-size: 1.8rem;
    }
    .attendance-subject-details {
        width: 100%;
        height: max-content;
        padding-top: .25rem;
        padding-bottom: .25rem;
        gap: .5rem;
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
    }
    .right-container {
        width: 40%;
    }
.top-progressbar-container {
    padding: .1rem;
}
    .bottom-attendance-mark-button-container {
        width: 100%;
        padding: .1rem;
        justify-content: space-around;
        align-items: center;
    }

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 60
    }

    .icon-size {
        font-size: 3.6rem;
    }
    .message-box {
        padding: 1rem;
        width: 90%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 394px) and (max-width: 767.98px) {
    /* Styles for tablets go here */
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    /* Styles for desktops go here */
}

/* Large Devices, Large Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    /* Styles for large desktops go here */
}

/* Extra Large Devices, Extra Large Desktops */
@media only screen and (min-width: 1200px) {
    /* Styles for extra large desktops go here */
}